#
# cmake
#
CMakeCache.txt
CMakeLists.txt.user
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt

#.
# C++
#
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sh

#
# Build and doxygen related
#
Documentation/
docs/doxygen/html/
docs/doxygen/latex/
docs/doxygen/xml/
build*/
bin/
lib/

#
# Spice Kernel creation tools
#
Tudat/interface/spice/Kernels/KernelMerge/
Tudat/interface/spice/Kernels/

#
# Editor related
#
*~
*#
.#*
*.autosave
*.~?~
*.save
.DS_Store
/.idea/*
/cmake-build-debug/*
/cmake-build*


# Rever
rever/
