#
# CMake 
#
CMakeCache.txt
CMakeLists.txt.user
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

#
# C++
#
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sh

#
# Build and doxygen related
#
Documentation/
doc/doxygen/html/
doc/doxygen/latex/
build*/
bin/
lib/

#
# Spice Kernel creation tools
#
Tudat/External/SpiceInterface/Kernels/KernelMerge/
Tudat/External/SpiceInterface/Kernels/

#
# Editor related
#
*~
*#
.#*
*.autosave
*.~?~
*.save
.DS_Store
