#
# cmake
#
CMakeCache.txt
CMakeLists.txt.user
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

#
# C++
#
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Data files
*.dat

# Figure files
*.eps
*.png
*.pdf
*.jpg
*.jpeg

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#
# Build and doxygen related
#
Documentation/
doc/doxygen/html/
doc/doxygen/latex/
build*/
bin/
lib/
sandbox/

#
# Editor related
#
*~
*#
.#*
*.autosave
*.~?~
*.save
.DS_Store
