.toggle .header {
    display: block;
    clear: both;
}

.toggle .header .arrow {
    font-weight: bold;
    cursor: pointer;
}

.toggle .header .arrow:after, .showall:after {
    content: " ▼";
}

.toggle .header .arrow.open:after, .hideall:after {
    content: " ▲";
}

.showall, .hideall {
    font-weight: bold;
    cursor: pointer;
    padding-right: 20px;
}
