.toggle .header {
  display: block;
  clear: both;
}

.toggle .header .arrow {
  font-weight: bold;
  cursor: pointer;
}

.toggle .header .arrow:after, .showall:after {
  content: " ▼";
}

.toggle .header .arrow.open:after, .hideall:after {
  content: " ▲";
}

.showall, .hideall {
  font-weight: bold;
  cursor: pointer;
  padding-right: 20px;
}

.jsontype, .jsonkey {
  white-space: nowrap;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 75%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  background: #fff;
  border: solid 1px #e1e4e5;
  padding: 2px 5px;
  line-height: 24px;
  min-height: 100%;
  margin: 0;
  margin-bottom: 24px;
  overflow-x: auto;
}

.jsontype {
  color: #85598f;
}

.jsonkey {
  font-weight: bold;
  color: #0044aa;
}

#announcement {
  background-color: #b96229;
  width: 100%;
  text-align: center;
  padding: 1.435em;
  color: #fff;
  max-width: 800px;
  position: absolute;
}

#announcement a {
  color: #fff;
  text-decoration: underline;
}

#announcement p {
  font-size: 1.2em;
  margin: 0;
}

@media screen and (max-width: 768px){
  #announcement {
    margin-top: 3.75em;
  }
}